<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Readme</h3>
    </div>

    <div class="panel-body">
        <p spellcheck="true">
          
            <strong>Legge test data i databasen.</strong>
            Ved å kommentere ut teksten i Global.asax. Blir databasen fylt med test data.
            <hr />

            <article>
                <strong>Kjørende version:</strong> Kan besøkes på:
                <a href="http://faq2014.azurewebsites.net/"> Faq 2014</a>
            </article>
        </p>
        
    </div>
</div